<div class="main-content page-m">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <form [formGroup]="checkOutFormGroup" (ngSubmit)="onSubmit()">
        <!-- customer form group -->
        <div formGroupName="customer" class="form-area">
          <h3>Customer</h3>

          <div class="row">
            <div class="col-md-2"><label>First Name</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="firstName" type="text" />
                <div *ngIf="checkForErrors('firstName')">
                  <div
                    *ngIf="
                      firstName?.invalid &&
                      (firstName?.dirty || firstName?.untouched)
                    "
                  >
                    <div
                      *ngIf="firstName?.errors?.['required'] || firstName?.errors?.['notOnlyWhiteSpace']"
                      class="alert alert-danger mt-1"
                    >
                      First Name is required
                    </div>
                    <div
                      *ngIf="
                    firstName?.errors?.['minlength']|| firstName?.errors?.['notOnlyWhiteSpace']
                  "
                      class="alert alert-danger mt-1"
                    >
                      First Name must be at least 2 characters
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"><label>Last Name</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="lastName" type="text" />
                <div *ngIf="checkForErrors('lastName')">
                  <div
                    *ngIf="
                      lastName?.invalid &&
                      (lastName?.dirty || lastName?.untouched)
                    "
                  >
                    <div
                      *ngIf="lastName?.errors?.['required']|| lastName?.errors?.['notOnlyWhiteSpace'] "
                      class="alert alert-danger mt-1"
                    >
                      lastName is required
                    </div>
                    <div
                      *ngIf="
                  lastName?.errors?.['minlength']|| lastName?.errors?.['notOnlyWhiteSpace']
                "
                      class="alert alert-danger mt-1"
                    >
                      Last Name must be at least 2 characters
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"><label>Email</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="email" type="text" />
                <div *ngIf="checkForErrors('email')">
                  <div
                    *ngIf="email?.invalid && (email?.dirty || email?.untouched)"
                  >
                    <div
                      *ngIf="email?.errors?.['required']"
                      class="alert alert-danger mt-1"
                    >
                      email is required
                    </div>
                    <div
                      *ngIf="
                  email?.errors?.['minlength']
                "
                    >
                      please enter valid email
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Shipping Adress -->
        <div formGroupName="shippingAddress" class="form-area">
          <h3>ShippingAdrress</h3>
          <div class="row">
            <div class="col-md-2"><label>Country</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <select
                  formControlName="country"
                  (change)="getStates('shippingAddress')"
                >
                  <option *ngFor="let country of countries" [ngValue]="country">
                    {{ country.name }}
                  </option>
                </select>
                <div *ngIf="checkErrorForShipping('country')">
                  <div
                    *ngIf="
                      shippingAddressCountry?.invalid &&
                      (shippingAddressCountry?.dirty ||
                        shippingAddressCountry?.untouched)
                    "
                  >
                    <div
                      *ngIf="shippingAddressCountry?.errors?.['required']|| shippingAddressCountry?.errors?.['notOnlyWhiteSpace'] "
                      class="alert alert-danger mt-1"
                    >
                      country is required
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2"><label>Street</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="street" type="text" />
                <div *ngIf="checkErrorForShipping('street')">
                  <div
                    *ngIf="
                      shippingAddressStreet?.invalid &&
                      (shippingAddressStreet?.dirty ||
                        shippingAddressStreet?.untouched)
                    "
                  >
                    <div
                      *ngIf="shippingAddressStreet?.errors?.['required']"
                      class="alert alert-danger mt-1"
                    >
                      Street is required
                    </div>
                    <div
                      *ngIf="
                  shippingAddressStreet?.errors?.['minlength']
                "
                    >
                      street name must be greather than 2
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2"><label>City</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="city" type="text" />
                <div *ngIf="checkErrorForShipping('city')">
                  <div
                    *ngIf="
                      shippingAddressCity?.invalid &&
                      (shippingAddressCity?.dirty ||
                        shippingAddressCity?.untouched)
                    "
                  >
                    <div
                      *ngIf="shippingAddressCity?.errors?.['required']"
                      class="alert alert-danger mt-1"
                    >
                      City is required
                    </div>
                    <div
                      *ngIf="
                  shippingAddressCity?.errors?.['minlength']
                "
                    >
                      please enter valid city name greather than 2
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"><label>State</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="state">
                  <option
                    *ngFor="let state of stateForShippingAdrres"
                    [ngValue]="state"
                  >
                    {{ state.name }}
                  </option>
                </select>
                <div *ngIf="checkErrorForShipping('state')">
                  <div
                    *ngIf="
                      shippingAddressState?.invalid &&
                      (shippingAddressState?.dirty ||
                        shippingAddressState?.untouched)
                    "
                  >
                    <div
                      *ngIf="shippingAddressState?.errors?.['required']|| shippingAddressState?.errors?.['notOnlyWhiteSpace'] "
                      class="alert alert-danger mt-1"
                    >
                      State is required
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2"><label>Zip Code</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="zipCode" type="text" />
                <div *ngIf="checkErrorForShipping('zipCode')">
                  <div
                    *ngIf="
                      shippingAddressZipcode?.invalid &&
                      (shippingAddressZipcode?.dirty ||
                        shippingAddressZipcode?.untouched)
                    "
                  >
                    <div
                      *ngIf="shippingAddressZipcode?.errors?.['required']"
                      class="alert alert-danger mt-1"
                    >
                      ZipCode is required
                    </div>
                    <div
                      *ngIf="
                  shippingAddressZipcode?.errors?.['minlength']
                "
                    >
                      please enter valid zipCode
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="input-space">
          <label class="au-checkbox">
            <input
              type="checkbox"
              (change)="copyShippingAddressToBillingAddress($event)"
            />
            <span class="au-checkmark"></span>Billing Address Same As Shipping
            Address
          </label>
        </div>
        <!-- Billing Address -->
        <div formGroupName="billingAddress" class="form-area">
          <h3>BillingAdrress</h3>
          <div class="row">
            <div class="col-md-2"><label>Country</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <select
                  formControlName="country"
                  (change)="getStates('billingAddress')"
                >
                  <option *ngFor="let country of countries" [ngValue]="country">
                    {{ country.name }}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2"><label>Street</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="street" type="text" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2"><label>City</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="city" type="text" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2"><label>State</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <select>
                  <option
                    *ngFor="let state of stateForBiilingAdrres"
                    [ngValue]="state"
                  >
                    {{ state.name }}
                  </option>
                </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"><label>Zip Code</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="zipCode" type="text" />
              </div>
            </div>
          </div>
        </div>
        <!-- CreditCard -->
        <div formGroupName="creditCard" class="form-area">
          <h3>CreditCard</h3>
          <div class="row">
            <div class="col-md-2"><label>CardType</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="cardType">
                  <option>Visa</option>
                  <option>MasterCard</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2"><label>NameOnCard</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="nameOnCard" type="text" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2"><label>Card Number</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="cardNumber" type="text" />
                <div *ngIf="checkForErrorsForCreditCard('cardNumber')">
                  <div
                    *ngIf="
                      creaditCardNum?.invalid &&
                      (creaditCardNum?.dirty || creaditCardNum?.untouched)
                    "
                  >
                    <div
                      *ngIf="creaditCardNum?.errors?.['required']"
                      class="alert alert-danger mt-1"
                    >
                      Number is required
                    </div>
                    <div
                      *ngIf="
              creaditCardNum?.errors?.['pattern']
            "
                      class="alert alert-danger mt-1"
                    >
                      16 digit number required;
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"><label>Security Code</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="securityCode" type="text" />
                <div *ngIf="checkForErrorsForCreditCard('securityCode')">
                  <div
                    *ngIf="
                      creaditCardSecurityCode?.invalid &&
                      (creaditCardSecurityCode?.dirty ||
                        creaditCardSecurityCode?.untouched)
                    "
                  >
                    <div
                      *ngIf="creaditCardSecurityCode?.errors?.['required']"
                      class="alert alert-danger mt-1"
                    >
                      Security Code is required
                    </div>
                    <div
                      *ngIf="
              creaditCardSecurityCode?.errors?.['pattern']
            "
                      class="alert alert-danger mt-1"
                    >
                      3 digit Security Code required;
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2"><label>Expiration Month</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="expirationMonth">
                  <option *ngFor="let month of creditCardMonth">
                    {{ month }}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2"><label>Expiration Year</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <select
                  formControlName="expirationYear"
                  (click)="monthAndYearHandler()"
                >
                  <option *ngFor="let year of creditCardYear">
                    {{ year }}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <!-- Order Details -->
        <div class="form-area" style="font-weight: bold">
          <p>Total Quantity:{{ totalQuantity }}</p>
          <p>Shipping: Free</p>
          <p>Total Price :{{ totalPrice }}</p>
        </div>

        <div class="text-center">
          <button type="button" (click)="purchase()" class="btn btn-info">
            Purchase
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
